.css-container {
  display: flex;
  flex-direction: column;
}

.add_btn {
  width: 200px
}

.list_item_pink {
  width: 100px;
  border: red;
  background: pink;
  padding: 5px;
  margin: 10px;
  text-align: center;
  color: black
}

.list_item_red {
  width: 100px;
  border: green;
  background: red;
  padding: 5px;
  margin: 10px;
  text-align: center;
  color: white
}